<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <!-- Edit the following setting to set file path for attachments -->
  <add key="PathToFiles" value="C:\\TestFolder" />
  <!-- Edit the following setting to set file path for list of email addresses -->
  <add key="PathToEmailList" value="C:\\EmailListFolder\EmailAddresses.txt" />
  <!-- Edit the following setting to set the SMTP mail server hostname -->
  <add key="MailServerHostName" value="localhost" />
  <!-- Edit the following setting to set the SMTP mail server port -->
  <add key="MailPort" value="25" />
  <!-- Edit the following to set the mail server timeout -->
  <add key="TimeoutSetting" value="100000" />
 <!-- Edit the following to set the mail server timeout -->
  <add key="MessageSubject" value="Test Email" />
 <!-- Edit the following to set the mail server timeout -->
  <add key="MessageBody" value="This is the body content for the email. It is stored as a string value in the application config file and extracted at runtime.&#xA;&#xA;There are two ways to set line breaks in the body of the message. This paragraph demonstrates the first method.
    
  This paragraph demonstrates the second method for setting linebreaks in the body of the email." />
</appSettings>
</configuration>